@*@using TestManagement.Models*@
@*@model TestManagement.Models.Student*@
@model TestManagement.ViewModels.HomeDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*<h3>@ViewData["PageTitle"]</h3>*@
    @*<h3>@ViewBag.PageTitle</h3>*@
    <h3>@Model.PageTitle</h3>

    <div>姓名: @Model.Student.Name</div>
    <div>邮箱: @Model.Student.Email</div>
    <div>班级: @Model.Student.ClassName</div>
</body>
</html>